extends layout

block content
    h1 Cadastrar desenvolvedor
    hr
    form(method='POST' action='/desenvolvedores')
        input(type='text' name='nome' placeholder='nome')
        input(type='text' name='email' placeholder='email')
        input.btn.btn-success(type='submit' value='Enviar')