<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contato</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/Sobre">Sobre</a></li>
        </ul>

        <p>
            sdfgsdfgydsofhsdkpjfh sdpkjfhsd pkjdg hdspkjfgh dskjf gdshkfjdsf kdjsg hskjf
        </p>
        <form action="/contato" method="POST">
            <input type="text" name="nome" placeholder="nome">
            <br>
            <input type="text" name="email" placeholder="E-mail">
            <br>
            <input type="submit" value="Enviar" class="btn btn-success">
        </form>
    </div>
</body>

</html>